/* ====================== Poppins Font ====================== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: tatsama;
    src: url('../../public/AlinurTatsama/Unicode/Li Alinur Tatsama Unicode.ttf') ;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", serif;
}

:root{
    --primary_color: #504eec;
    --secondary_color: #7b79ff;
    --light_primary_color: #f6f6ff;
    --dark_color: #000000;
    --background_color: #fff;
}

.container{
    width: 100%;
    min-height: 120vh;
    position: relative;

}
