.button {
    position: relative;
    padding: 8px 20px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    background-color: var(--primary_color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s ease;
    user-select: none;
    text-align: center;
  }

  .button:hover {
    background-color: var(--secondary_color);
    transform: scale(0.95);
  }

  .spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    border: 2px solid transparent;
    border-top: 2px solid white;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    transform: translate(-50%, -50%);
    display: none;
  }

  @keyframes spin {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }

  .button.loading .text {
    visibility: hidden;
    
  }

  .button.loading .spinner {
    display: block;
  }